<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1 class="mb-3">Welcome to RailsWatchList</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
  <button type="button" class="btn">
    <%= link_to "Create a new list", new_list_path, class: "btn-bookmark" %>
  </button>
  <div class="container">
    <% @lists.each do |list| %>
      <div class="container-list">
        <%= link_to list_path(list), class:"text-decoration-none" do %>
            <%#  image %>
            <%= list.name %>
        <% end %>
    <% end %>
    </div>
</div>
